img.tstone {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nameRole {
	display:block;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 30px;	
}

p.nameText {
	margin-bottom: 0;
	margin-top: 48px;
	font-size: 2.5em;
}

p.nameRoleText {
	margin-top: 0;
}

img.scienceLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.scienceText {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	border: solid 1px #bcbbbb;
	background-color: #cecdac;
}

p.sdtText {
	margin-top: 30px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	border: solid 1px #bcbbbb;
}

img.humanistLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.humanistText {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	border: solid 1px #bcbbbb;
	background-color: #cecdac;
}

p.bgspText {
	margin-top: 30px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	border: solid 1px #bcbbbb;
}

img.systemsLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.systemsText {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	border: solid 1px #bcbbbb;
	background-color: #cecdac;
}

p.batesonText {
	margin-top: 30px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	border: solid 1px #bcbbbb;
}

/* I wanted a single-column site for most devices. Once the viewport gets up to ~960 I wanted to play with getting the
a three column thing going with the content. It's hacky...I didn't know quite what to do in some cases and ended up clearing 
out some of the borders as I was having a hard time lining things up as the text line breaks would change as the screen changed.*/

@media (min-width: 960px) {
	.sciencey {float: left; width: 33%;}
	.humanist {float: left; width: 33%; margin-left: 5px; margin-right: 5px;}
	.systems {float: left; width: 33%;}
	p.batesonText {margin-top: 46px; border-bottom: 0; border-right: 0; border-left: 0;}
	p.bgspText {border-bottom: 0; border-right: 0; border-left: 0;}
	p.sdtText {border-bottom: 0; border-right: 0; border-left: 0;}
}
